:root {
/* CSS HEX */
    --primary-color: #274E60ff;
    --accent1-color: #C1C0A4ff;
    --accent2-color: rgb(238, 232, 208);
    --accent3-color: #211E23ff;
    --accent4-color: #EDBF1Aff; 
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-sarif;
}
/* --secondary-color: #6091BEff; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--accent1-color);
}

header, main, footer {
    width: 1200px;
    margin: 0 auto;
}

header {
    background-color: var(--primary-color);
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    border-bottom: 1px solid #ccc;

}

header img {
    background-color: var(--primary-color);
}

body {
    font-family: var(--body-font);
    color: var(--accent3-color)

}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 2rem;
}

p, section, article {
    margin: 8px;
    padding: 8px;
}

footer {
    background-color: var(--primary-color);
    margin: 1rem auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

footer p {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

/* Class Descriptors */
.socialmedia {
    background-color: var(--primary-color);
    list-style: none; /* no bullet points */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.socialmedia a {
    color:var(--accent2-color);
    background-color: var(--primary-color);
    text-decoration: none;
}

.socialmedia img {
    width: 40px;
    height: auto;
    background-color: var(--accent1-color);
    margin: .25rem;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    margin: 3rem auto;
}

.hero article {
    position: absolute;
    bottom: 5px;
    right: 5px;
    opacity: 0.7;
    background-color: var(--accent2-color);
    }

.hero article img {
    float: right;
    width: 125px;

}

.hero button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: var(--accent4-color);
    color: var(--primary-color);
    font-weight: bold;
}

.navigation {
    display: flex;
    list-style: none;
    overflow: hidden;
}

.navigation li {
    flex: 1 1 auto;
    background-color: var(--primary-color);
}

.navigation a {
    display: block;
    color: var(--accent2-color);
    padding: 10px;
    text-decoration: none;
    background-color: var(--primary-color);
    font-size: 2rem;
}

.navigation a:hover {
    color: var(--accent4-color);
    text-decoration: underline;
}

.hist {
    display: grid;
    grid-template: 1fr 6fr / 33% 34% 33%;
    
}

.hist img {
   max-width: 375px;
   height: auto;
   margin: 8px;

}
.hist h2 {
    grid-area: 1 / 1 / 2 / 4;
    text-align: center;
}

.elements {
    order: 2;
    grid-row-start: 2;
}

/* below here is for the figure section of the contact us page */

.fig {
    display: grid;
}

.fig h2 {
    text-align: center;
    padding: 1rem;
}

.fig img {
    max-width: 200px;
    height: auto;
}

.fig figure {
    margin: 1rem;
    grid-row-start: 2;
    text-align: center;
}

/* above here is for the figure section of the contact us page */

.advent {
    grid-template: 1fr 3fr 3fr 3fr / repeat(5, 1fr);
}

.advent h2 {
    grid-area: 1 / 1 / 2 / 6;
}


.emp {
    grid-template: 1fr 3fr / repeat(3, 1fr);
}

.emp h2 {
    grid-area: 1 / 1 / 2 / 4;
}

.gen-info {
    text-align: center;
    display: grid;
    grid-template-columns: 40% 60%; 
    grid-template-rows: 10% 20% 70%;    
    gap: 16px;
}

.gen-info h2 {
    grid-area: 1 / 1 / 2 / 3;

}

.gen-info iframe {
    display: block;
    width: 100%;
    border-radius: 15px;
    text-align: center;
}

.left-col {
    grid-column-start: 1;
    grid-column-end: 2;
}

.left-col p {
    font-size: 1rem;
    font-weight: bold;
    font-family: monospace;
    padding: .25rem;
    color: var(--primary-color);
}

.right-col {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 8px;
}

.row-2 {
    grid-row-start: 2;
    grid-row-end: 3;
}

.row-3 {
    grid-row-start: 3;
    grid-row-end: 4;
}

.dbl-row {
    grid-row-start: 2;
    grid-row-end: 4;
}

.form-item {
    display: grid;
    align-items: center;
    background-color: var(--accent1-color);
}

fieldset {
    background-color: var(--accent1-color);
    padding: .5em;
    border: 1px solid rgb(0 0 0 / .1);
    display: grid;
    gap: .5rem;
    margin: 1rem;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: .5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

.column3 {
    grid-template-columns: 5% 95%;
}

form {
    width: 650px;
    padding:.5rem;
    border: 1px solid rgb(0 0 0 / .1);
    border-radius: .5rem;
    display: grid;
    background-color: var(--accent2-color);
}

legend {
    padding: .5rem;
    color: var(--accent2-color);
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 6px;
    background-color: var(--primary-color);
    text-align: center;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button :hover select {
    background-color: var(--accent4-color);
}

.radio-label {
    text-align: left;
}

textarea, input {
    background-color: var(--accent2-color);
    font-size: large;
}

.spot {
    display: grid;
    grid-template: 1fr 6fr / repeat(3, 1fr);
    margin: 0 auto;
    gap: 1rem;
    padding: .5rem;
}

.spot h2 {
    grid-area: 1 / 1 / 2 / 4;
    padding: 1rem;
    text-align: center;
}

.card {
    display: grid;
    grid-template-rows: 60% 10% 30%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0.2);
    transition: 0.3s;
    border-radius: 5px;
    
}

.card img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    grid-row: 1 / 2;
}

.card h3 {
    grid-row: 2/ 3;
    padding: .5rem;
}

.card p {
    grid-row: 3 / 4;
    padding: .5rem;
    margin: .5rem;
}

.newsletter {
    position: relative;
}

.newsletter img {
    display: block;
}

.newsletter form {
    position: absolute;
    top: 150px;
    right: 5px;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(0 0 0 / 0.2);
    letter-spacing: 1px;
    width: 800px;
}

th, td {
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 8px 12px;
    text-align: left;
}

th { 
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

thead th,
tfoot tr {
    font-weight: 700;
    
}

.sect {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin: 0 auto;
    padding: .5rem;
    gap: 5px;
}

.sect-head {
    grid-column-start: 1;
    grid-column-end: 5;
}

.sect-head h2 {
    text-align: center;
    padding: .5rem;
}

.sect img {
    max-width: 100%;
    height: auto;
}

.sect figure {
    grid-row-start: 2;
    text-align: center;
}

.pricing {
    display: grid;
    place-items: center;
}
.pricing h2 {
    margin: 1rem;
}