:root {
/* CSS HEX */
    --primary-color: #274E60ff;
    --accent1-color: #C1C0A4ff;
    --accent2-color: #C7CBCAff;
    --accent3-color: #211E23ff;
    --accent4-color: #EDBF1Aff; 
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-sarif;
}
/* --secondary-color: #6091BEff; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--accent1-color);
}

header, main, footer {
    width: 1200px;
    margin: 0 auto;
}

header {
    background-color: var(--primary-color);
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    border-bottom: 1px solid #ccc;

}

header img {
    background-color: var(--primary-color);
}

body {
    font-family: var(--body-font);
    color: var(--accent3-color)

}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 2rem;
}


p, section, article {
    margin: 8px;
    padding: 8px;
}

footer {
    background-color: var(--primary-color);
    margin: 1rem auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

footer p {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

/* Class Descriptors */
.socialmedia {
    background-color: var(--primary-color);
    list-style: none; /* no bullet points */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}


.socialmedia a {
    color:var(--accent2-color);
    background-color: var(--primary-color);
    text-decoration: none;
}

.socialmedia img {
    width: 40px;
    height: auto;
    background-color: var(--accent1-color);
    margin: .25rem;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
}

.hero article {
    position: absolute;
    bottom: 5px;
    right: 5px;
    opacity: 0.7;
    background-color: var(--accent2-color);
    }

.hero article img {
    float: right;
    width: 125px;

}

.navigation {
    display: flex;
    list-style: none;
    overflow: hidden;
}

.navigation li {
    flex: 1 1 auto;
    background-color: var(--primary-color);
}

.navigation a {
    display: block;
    color: var(--accent2-color);
    padding: 10px;
    text-decoration: none;
    background-color: var(--primary-color);
    font-size: 2rem;
}

.navigation a:hover {
    color: var(--accent4-color);
    text-decoration: underline;
}

.hist {
    display: grid;
    grid-template: 1fr 6fr / 33% 34% 33%;
    
}

.hist img {
   max-width: 375px;
   height: auto;
   margin: 8px;

}
.hist h2 {
    grid-area: 1 / 1 / 2 / 4;
    text-align: center;
}

.elements {
    order: 2;
    grid-row-start: 2;
}

.advent {
    display: grid;
    grid-template: 1fr 3fr / repeat(5, 1fr);

}
.advent h2 {
    grid-area: 1 / 1 / 2 / 6;
    text-align: center;
    padding: 1rem;
}

.advent img {
    max-width: 150px;
    height: auto;
}

.advent figure {
    margin: 1rem;
    grid-row: 2;
}