/*
    CSS for WDD130 course work 
    David Jukes
*/

:root{
    
    --border: 1px solid rgb(0 0 0 / 0.1);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    
}


nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
    padding-left: 1rem;
}

main img {
    width: 250px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

aside {
    width: 400px;
    margin: 10px 0;
    position: relative;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}


aside h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3rem;
}
aside p {
    text-align: left;
}

footer {
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;
}
/*
Class Selectors
*/

.box {
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: #e1eaf5;
    color: #333333;
}
