
/* WDD130 styles.css used for main site
David Jukes
 */

:root{
    --black-border: 1px solid black;
    --lite-border: 1px solid rgb(000 / 0.1);
    --padding: 1rem;
    --img-box-shadow: 0 0 30px gray; 
    
    /* color pallette */
    --header-color: darkblue;
    --primary-background: lightblue;
    --pop-out-background: #eee;

}

body {
    background-color: var(--primary-background)
}

nav{
    background-color: var(--header-color);
    padding: var(--padding);
}

nav a {
    color: white;
    display: block;
    padding: var(--padding);
}

h1{
    color: var(--header-color);
}

main img {
    width: 150px;
    height: auto;
    border: var(--black-border);
    padding: var(--padding);
    box-shadow: var(--img-box-shadow);
    background-color: var(--pop-out-background);
}

p{
    padding: 0px;
}

main {
    max-width: 800px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--black-border);
    padding: var(--padding);
    background-color: var(--pop-out-background);
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    border: var(--lite-border);
    box-shadow: var(--img-box-shadow);

}

footer {
    margin-top: 15px;
    border-top: var(--black-border);
    text-align: center;
}