/*
    CSS for WDD130 course work 
    David Jukes
*/

:root{
    
    --border: 1px solid rgb(0 0 0 / 0.1);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

a {
    color: #00f;
}

header, .grid, footer {
    max-width: 1200px;
    margin: 0 auto;

}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: .5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff; /* shorthand for white */
}

main {
    max-width: 640px;
    grid-column: 2 / 3;
    margin: 0 1rem;
    
}

h1 {
    color: darkblue;
    border-bottom: 1px solid #333;
}

aside {
    width: 30rem; 
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0 1rem;
}

aside img {
    width: 100%;
    height: auto;
    display: block;
}

aside h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3rem;
}

main img {
    width: 150px;
    height: auto;
    float: right;
    border: var(--border);
    box-shadow: 0 0 30px gray;
    margin: 1rem 0;
}

p {
    padding: 1rem 1rem 1rem 0;
}

footer {
    background-color: #3e3e3e;
    color: #fff;
    margin: 2rem auto;
    text-align: center;
}

ul {
    list-style: none;
    padding: 1rem;
}

/*
Class Selectors
*/
.box {
    border: var(--border);
    padding: 1rem;
    background-color: #e1eaf5;
    color: #333333;
   
}

.grid {
    display: grid;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2 rem;
}