* {
    margin: 0;
    padding: 0;
    box-sizing:  border-box ;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #333;
}

header, main, footer {
    max-width: 800px;
    margin:0 auto;
}

header {
    background-color: #333333;
    color: white;
    padding: 2px;
    text-align: center;
    font-size: 1.5rem;
}

main {
    width: 350px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    padding: 10px;
}

section {
    margin: 2em 0;
    border: 1px solid rgb(0 0 0 / 25%);
    background-color: #ddd;
    padding: 1rem;
}

section h2 {
    text-align: left;
    border-bottom: solid black 1px;
}

section p {
     margin: 10px;
}

ul {
    margin: 10px 10px 10px 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}